{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  {% if object %}
    <h1>Update Driver License</h1>
  {% else %}
    <h1>Create Driver</h1>
  {% endif %}

  <form action="" method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}

    <input
        type="submit"
        value="Submit"
        class="btn btn-primary"
    >

    {% if object %}
      <a
          href="{% url 'taxi:driver-detail' pk=object.pk %}"
          class="btn btn-secondary"
      >
        Cancel
      </a>
    {% else %}
      <a
          href="{% url 'taxi:driver-list' %}"
          class="btn btn-secondary"
      >
        Cancel
      </a>
    {% endif %}
  </form>
{% endblock %}
